.branding__title {
  background: linear-gradient(#191e21, white, #191e21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controller.-secondary {
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  background-image: url("../../assets/img/retina_wood.png");
}

img {
  min-width: 100%;
  width: 100%;
  border: unset;
}

.bl-wrap {
  position: relative;
  display: flex;
  height: inherit;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.board:before, .board:after {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: #191e21;
  transform: scale(1.15);
  z-index: -1;
}
@media (min-width: 768px) {
  .board:before, .board:after {
    display: block;
  }
}
.board:before {
  box-shadow: 7px 6px 3px 0 rgba(0, 0, 0, 0.43);
}
@media (min-width: 768px) {
  .board {
    width: 533px;
    height: 533px;
    border-radius: 50%;
  }
}
@media (min-width: 1439px) {
  .board {
    transform: scale(1.15);
  }
}
@media (min-width: 1559px) {
  .board {
    transform: scale(1.3);
  }
}

.canvas {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr max-content;
  width: inherit;
  background-color: #191e21;
}
.canvas:before {
  content: "";
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: transparent;
  border: solid 1px transparent;
  border-radius: 50%;
  box-shadow: inset 0px 3px 15px 0 white;
  transform: scale(1.143);
}
@media (min-width: 768px) {
  .canvas {
    height: inherit;
    border-radius: 50%;
  }
}

.controller.-primary {
  min-height: 59vh;
  height: 100%;
}
.controller.-secondary {
  overflow: hidden;
  display: grid;
  min-height: 19vh;
  height: 50%;
  align-items: center;
  color: #dde1e9;
  background-color: #aaaaaa;
  order: -1;
  z-index: 2;
}
.controller.-secondary:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: #191e21;
  z-index: -1;
}
@media (min-width: 768px) {
  .controller.-secondary {
    width: 50%;
    height: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    border: solid 2.625rem #191e21;
    border-radius: 50%;
    transform: translate3d(50%, 50%, 0) scale(1);
  }
}
.controller.-primary, .controller.-secondary {
  position: relative;
}
@media (min-width: 768px) {
  .controller.-primary, .controller.-secondary {
    grid-row: 1;
    grid-column: 1;
    min-height: unset;
  }
}
.controller__section.-action, .controller__section.-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.controller__section.-action {
  height: inherit;
  grid-gap: 3.5rem;
}
@media (min-width: 768px) {
  .controller__section.-action {
    grid-gap: 4.375rem;
  }
}
.controller__section.-menu {
  opacity: 1;
}
.controller__item {
  cursor: pointer;
}
.controller__item.-input {
  font-size: 3rem;
}
.controller__label {
  margin-bottom: 1rem;
  font-family: "Bree Serif", serif;
  font-size: 1.25rem;
  text-align: center;
}

.branding {
  font-family: "Squada One", cursive;
  font-size: 5.75rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}
.action__item {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: solid 1px #070f11;
  box-shadow: 0px 0px 19px 0px black;
  cursor: pointer;
}
.action__item:before, .action__item:after {
  content: "";
  position: absolute;
  display: block;
}
.action__item:before {
  top: 0;
  width: 9%;
  height: 100%;
}
.action__item:after {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 27px white;
  transform: scale(1.75);
  opacity: 0;
  transition: opacity ease-in-out 0.33s;
}
.action__item.-yellow {
  background-color: #ffea37;
}
.action__item.-yellow:before {
  background: #ffea37;
  background: linear-gradient(90deg, white 0%, #ffea37 100%);
  transform: translate3d(-190%, 0, 0) rotate(45deg) scale(3);
}
.action__item.-blue {
  background-color: #4b3edd;
}
.action__item.-blue:before {
  background: #4b3edd;
  background: linear-gradient(-90deg, #5790ff 0%, #4b3edd 100%);
  transform: translate3d(190%, 0, 0) rotate(-45deg) scale(3);
}
.action__item.-blue:after {
  box-shadow: 0px 0px 25px 27px #57b5ff;
}
.action__item.-red {
  background-color: #dd4b3e;
}
.action__item.-red:before {
  background: #dd4b3e;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, #dd4b3e 100%);
  transform: translate3d(-190%, 0, 0) rotate(-45deg) scale(3);
}
.action__item.-red:after {
  box-shadow: 0px 0px 25px 27px #ffc7ae;
}
.action__item.-green {
  background-color: #3edd4b;
}
.action__item.-green:before {
  background: #3edd4b;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75) 0%, #3edd4b 100%);
  transform: translate3d(190%, 0, 0) rotate(45deg) scale(3);
}
.action__item.-green:after {
  box-shadow: 0px 0px 25px 27px #cfffcd;
}
.action__item.fired {
  box-shadow: inset 0px -1px 38px 0px black;
  box-shadow: inset 0px -1px 50px 33px rgba(0, 0, 0, 0.33);
}
.action__item.fired.-yellow {
  border: solid 1px #e6d432;
}
.action__item.fired.-blue {
  border: solid 1px #5790ff;
}
.action__item.fired.-red {
  border: solid 1px #dd4b3e;
}
.action__item.fired.-green {
  border: solid 1px #3edd4b;
}
.action__item.fired:before {
  opacity: 0;
}
.action__item.fired:after {
  opacity: 1;
}

.levels {
  margin-bottom: 0.75rem;
}
.difficulty .levels__item {
  display: grid;
}
.difficulty .levels__list {
  display: flex;
  justify-content: space-between;
  font-family: "Bree Serif", serif;
}

.menu__item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menu__item:after {
  content: "";
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.25rem;
  order: -1;
  border: solid 5px #191e21;
  border-radius: 50%;
  background-color: #ffea37;
}
.menu__item.-start:after {
  background-color: #dd4b3e;
}

/*# sourceMappingURL=main.css.map */
